<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>index</title>
    <link rel="icon" th:href="@{/static/favicon.ico}">
    <link rel="stylesheet" th:href="@{/static/css/common.css}">
    <link rel="stylesheet" th:href="@{/static/css/index.css}">
</head>
<body>
<div class="center">
    <div class="home">
        <div class="home-box">
            <div th:if="${session.user}" th:text="${session.user.getUsername()}"></div>
            <a th:if="${session.user} eq null" th:href="@{/sign_in}">sign in</a>
            <a th:if="${session.user}" th:href="@{/home}">home</a>
        </div>
    </div>
</div>
<div class="upload-box">
    <a th:href="@{/upload}">upload picture</a>
</div>
</body>
</html>