* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: white;
}
list {
  list-style: none;
}
input {
  border: 0.125rem #bdecda solid;
}
input:focus {
  border: 0.2rem salmon solid;
  outline: none;
}
.center {
  position: relative;
  width: 60%;
  margin: 0 auto;
}
