html {
    font-size: 20px;
}

@font-face {
    font-family: 'Popincourt';
    src: url('../font/Popincourt1981Hi.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Popincourt, serif;
}

a {
    text-decoration: none;
    color:white;
}

list {
    list-style: none;
}

input {
    border: .125rem rgb(189, 236, 218) solid;
}

input:focus {
    border:.2rem salmon solid;
    outline: none;
}

.center {
    position: relative;
    width: 60%;
    margin: 0 auto;
}

.home {
    position: absolute;
    right: 0;
    height: 3.125rem;
    width: 12.5rem;
    background-color:rgb(101, 202, 92);

    .home-box {
        height: 3.125rem;
        line-height: 3.125rem;
        text-align: center;

        display: flex;
        
        div {
            flex: 3;
        }
        a {
            flex: 2;
        }
    }
}

.back {
    position: absolute;
    top: 0;
    left: 3rem;
    height: 3.125rem;
    width: 12.5rem;
    background-color: skyblue;

    .back-box {
        display: inline-block;
        height: 3.125rem;
        line-height: 3.125rem;
        text-align: center;
    }
}