.upload-box {
    cursor: pointer;
    position: fixed;
    right: 3rem;
    width: 7.5rem;
    top: 0;
    height: 3.25rem;
    line-height: 3.25rem;
    background-color: salmon;
    text-align: center;

    .upload-form {
        input[type="file"] {
            display: inline-block;
            width: 7.5rem;
            height: 3.25rem;
        }
    }
}
