.upload-box {
  cursor: pointer;
  position: fixed;
  right: 3rem;
  width: 7.5rem;
  top: 0;
  height: 3.25rem;
  line-height: 3.25rem;
  background-color: salmon;
  text-align: center;
}
.upload-box .upload-form .hat {
  position: absolute;
  top: 4.24rem;
  display: inline-block;
  width: 50%;
  height: 100%;
  background-color: #ddd4b4;
}
.upload-box .upload-form input[type="file"] {
  display: inline-block;
  width: 7.5rem;
  height: 3.25rem;
}
